<div class="modal-list" data-ng-class="artifactState">
<h1>{{currentTour.route[0].artifact.description}} Info:</h1>
<h2>{{currentWaypoint}}</h2>
<img src="{{currentTour.route[currentWaypoint].artifact.url}}">

<!-- <button data-ng-click="changeState({state: 'navigation'})">Return To Navigation</button> -->

<button data-ng-if="currentWaypoint < tour.waypoints.length - 1"
        data-ng-click="nextWaypoint(); changeState({state: 'navigation'})">Navigate To Next Waypoint</button>
<button data-ng-if="currentWaypoint === tour.waypoints.length - 1"
        data-ng-click="changeState({state: 'list'});">Finish Tour</button>
</div>
