<section class="fullscreen" data-ng-init="init()">
  <div id="map"></div>
  <nav>
    <button data-ng-click="toggleNav()" class="tour-nav-button">CREATE</button>
    <button class="go-home-button" data-ng-click="goHome()">Home</button>
  </nav>
  <form>
    <button class="add-landmark-btn" type="submit" data-ng-click="landmarkFormState='landmark-form-showing'">+</button>
  </form>
  <form id="landmark-form" data-ng-class="landmarkFormState">
    <input id="input-name" type="text" required data-ng-model="newLandmark.name" placeholder="Name">
    <input id="input-description" type="text" required data-ng-model="newLandmark.description" placeholder="Description">
    <button type="submit" data-ng-click="addPin( currentPosition )">ADD</button>
  </form>
  <ol data-ng-if="landmarks" data-ng-class="landmarkListState">
    <li data-ng-repeat="landmark in landmarks">
      <h2>{{ landmark.artifact.description }}</h2>
    </li>
    <button data-ng-if="landmarkListState==='create-finale'" data-ng-click="goHome()">DONE</button>
  </ol>
  <form data-ng-class="formState" class="tour-form form-group" data-ng-submit="postTour( tour )">
    <input class="" type="text" required data-ng-model="tour.name" placeholder="Tour Name" />
    <input class="" type="text" data-ng-model="tour.creator" placeholder="Tour creator" />
    <input class="" type="text" data-ng-model="tour.description" placeholder="Tour Description" />
    <input class="" type="submit" value="Post Tour" />
  </form>
</section>
