<section class="fullscreen" data-ng-init="loadMap()">
  <section class="fullscreen" id="map"></section>
  <button class="go-home-button" data-ng-click="goHome()">Home</button>

  <article data-ng-if="!onTour" data-ng-class="tourListState" class="modal-list modal-list-show">
    <h1>Nearby Tours</h1>
    <ul>
      <li data-ng-repeat="tour in tours">
        <h4>{{tour.name}}</h4>
        <p>Description: {{tour.description}}</p>
        <!-- <p>Route: {{tour.route[0].artifact.description}}</p> -->
        <button data-ng-click="startTour({tour:tour})">Take This Tour</button>
      </li>
    </ul>
  </article>
  <!-- <section id="map"></section> -->
  <article id="waypoint-modal" class="modal-list" data-ng-class="artifactState"  data-ng-model="currentWaypoint">
    <h1>{{currentTour.route[currentWaypoint].artifact.name}}</h1>
    <h2>{{currentTour.route[currentWaypoint].artifact.description}}</h2>
    <img id="artifact-image" src="{{currentTour.route[currentWaypoint].artifact.url}}">
    <button id="endbutton" data-ng-click="nextWaypoint()">OK</button>
  </article>

</section>
