<section data-ng-init="loadMap()">

  <div data-ng-if="!Tours">
      <p>Unfortunately there are not any tours within 100 miles of you, how about you make one?</p>
      <button data-ng-click="gotoMakeTour()">Create a Tour</button>
    <!--   <p>If you want to browse all tours click the button</p>
      <button data-ng-click="getAll()">All tours</button>
         <li data-ng-repeat="tour in tours">
        <h4>{{tour.name}}</h4>
        <p>Description: {{tour.description}}</p>
        <button data-ng-click="startTour({tour: tour})">Take This Tour</button>
      </li> -->
  </div>
  <header title="Tours" data-ng-if="!onTour">
    <h2>Tour Guide App</h2>

    <h1>If there are tours nearby, they'll be displayed below.</h1>
    <ul>
      <li data-ng-repeat="tour in tours">
        <h4>{{tour.name}}</h4>
        <p>Description: {{tour.description}}</p>
        <button data-ng-click="startTour({tour: tour})">Take This Tour</button>
      </li>
    </ul>
  </header>
  <section id="map"></section>
  <section id="artifactInfo"><section>
  <button data-ng-click="goHome()">Go Home</button>

</section>
