.user-position-icon {
  background: coral;
  border-radius: 50% 50% 0 0;
  width: 10px !important;
  height: 30px !important;
  animation-name: bounce;
  animation-duration: 5s;
  &::after{
    content: '';
    display: block;
    position: relative;
    top: -13px;
    left: -13px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 5px solid rgba(100,20,220,0.5);
    background: radial-gradient()
  };
}

@keyframes bounce {
  0% {
    transform: translate3d(0, 50%, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 50%, 0);
  }
}
