.user-position-icon {
  background: transparent;
  border-radius: 50% 50% 0 0;
  width: 30px !important;
  height: 30px !important;
  left: -20px !important;
  top: -15px !important;
  border-radius: 50%;
  border: 5px solid rgba(100,20,220,0.3);
  &::after{
    content: '';
    display: block;
    position: relative;
    top: -5px;
    left: 5px;
    width: 20px;
    height: 20px;
    animation: bounce 400ms infinite;
    animation-direction: alternate;
    background: coral;
    border-radius: 50% 50% 0 0;
  };
}

@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 5px, 0);
  }
}
