<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Guided Tours</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="application.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  </head>
  <body>
    <div data-ng-app="toursApp">
      <main data-ng-controller="takeTourController">

        <!-- Start button / Home Screen -->
        <div data-ng-if="appState === 'start'">
          <h2>Tour Guide App</h2>
          <button data-ng-click="changeState('list')">Find Nearby Tours</button>
          <button data-ng-click="getNearby()">GET Nearby Tours</button>

        </div>

        <!-- Tour List -->
        <div data-ng-if="appState === 'list'">
        <div data-tour-list-directive
             data-tours="tours"
             data-change-state="changeState(state)"
             data-start-tour="startTour(tour)"></div>
        </div>

        <!-- Navigation -->
        <div data-ng-if="appState === 'navigation'">
        <div data-nav-directive
             data-tour="currentTour"
             data-current-waypoint="currentWaypoint"
             data-prev-waypoint="prevWaypoint()"
             data-next-waypoint="nextWaypoint()"
             data-change-state="changeState(state)"></div>
        </div>

        <!-- Waypoint info -->
        <div data-ng-if="appState === 'info'">
        <div data-waypoint-info-directive
             data-tour="currentTour"
             data-current-waypoint="currentWaypoint"
             data-next-waypoint="nextWaypoint()"
             data-change-state="changeState(state)"></div>
        </div>

        <section id="map"></section>
        <section id="content">
          <h1>Title Here</h1>
          <form>
            <input type="text">
          </form>
        </section>
      </main>
    </div>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <script type="text/javascript" src="bundle.js"></script>
  </body>
</html>
